.DS_Store
.venv/
**/__pycache__/
**/.pytest_cache/
**/*.py[cod]
**/*.egg-info/
**/node_modules/
**/dist/
src/backend/.env
src/backend/.coverage
src/backend/htmlcov/
node_modules/
szy/
frontend/e2e/assets/
frontend/playwright-report/
frontend/test-results/
